@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-mm: 23.438rem;
  --breakpoint-ml: 57.5rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom CSS Variables */
  --color-secondary: var(--secondary);

  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-surface-400: var(--surface-400);
  --color-surface-500: var(--surface-500);
  --color-border-300: var(--border-300);
  --color-border-400: var(--border-400);
  --color-border-500: var(--border-500);
  --color-success-500: var(--success-500);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-disabled-800: var(--disabled-800);
  --color-danger-300: var(--danger-300);
  --color-warning-400: var(--warning-400);

  --font-space-grotesk: var(--font-space-grotesk-sans-serif);
  --font-inter: var(--font-inter-sans-serif);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* Custom Font */
  /* --font-chakra: var(--font-chakra-petch); */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom Design Tokens */
  --secondary: #a0a0b2;
  --primary-200: #add1ff;
  --primary-300: #87bbff;
  --primary-400: #70aeff;
  --primary-500: #4c9aff;
  --primary-600: #458ce8;
  --primary-700: #366db5;
  --primary-800: #2a558c;
  --primary-900: #20416b;
  --accent-200: #fed592;
  --accent-300: #fdc160;
  --accent-400: #fdb541;
  --accent-500: #fca311;
  --surface-400: #48494e;
  --surface-500: #1a1b22;
  --border-300: #707076;
  --border-400: #55555b;
  --border-500: #2a2a32;
  --success-500: #22c55e;
  --success-800: #136c34;
  --success-900: #0e5327;
  --disabled-800: #3b3f46;
  --danger-300: #f48282;
  --warning-400: #fbd644;
}

.dark {
  --background: #0e0e12;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  /* --secondary: oklch(0.269 0 0); */
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

/* Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* MdEditor */
.w-md-editor {
  background-color: #18181c !important;
  border: 1px solid var(--border-400);
}
.w-md-editor-toolbar {
  padding: 6px !important;
  background-color: #18181c !important;
}

.w-md-editor-toolbar ul > li > button > svg {
  width: 16px;
  height: 16px;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 16px !important;
  line-height: 20px !important;
}

.w-md-editor-text,
.w-md-editor-preview {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.w-md-editor-text-input::placeholder {
  color: var(--muted-foreground);
}

@media (max-width: 768px) {
  .w-md-editor-toolbar:not(.undefined) > ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .w-md-editor-toolbar > :last-child li {
    display: none;
  }
}
